* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    
  }
  p {
    margin-block: 1rem;
  }
  button,
  a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgb(20, 89, 129);
  }
  .wrapper {
    padding: 50px;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover; 
    text-align: start;
    padding: 15px;
    overflow: scroll;
    height: 100vh;
  }
  .wrapper input {
    outline: white;
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    margin-bottom: 1rem;
    width: 290px;
    height: 2rem;
  }
  .wrapper > button {
    margin-bottom: 1rem;
    width: 290px;
    height: 2rem;
  }

.wrapper > button:hover {
  background-color: rgb(29, 110, 156);
}

.toDos {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
}
.toDos div {
  background-color: rgba(255, 251, 246, 0.438);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(250, 238, 250);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(255, 255, 255, 0.25), inset 0px -2px 6px rgba(0, 0, 0, 0.25);
}

.toDos div p {
  display: inline;
}
  .toDos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: start;
    gap: 1rem;
    padding-inline: 1rem;
    text-align: center;
    margin: 0 auto;
  }
  .toDos div {
    background-color: rgba(255, 251, 246, 0.438);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(250, 238, 250);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 290px;
  }

  .toDos div p {
    display: inline;
  }
  
  .toDos div button {
    margin-left: 25px;
    width: 290px;
  }

.toDos button:hover {
  background-color:  rgb(29, 110, 156);
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(20, 89, 129);
  border-radius: 15px;
}
